.calculator {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 300px;
}

.display {
  height: 15%;
  width: 99%;
  border: solid;
  margin: 3% 0;
}

.input {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 100%;
}

.input_val {
  margin: 3% 5%;
}
