.calculator {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 300px;
}

.display {
  width: 99%;
  height: 20%;
  border: none;
  margin: 3% 0;
}
#main {
  height: 75%;
  margin: 0;
  border: solid;
}

#secondary {
  height: 25%;
  margin: 0;
  border: solid;
}

.input {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 100%;
}

.input_val {
  margin: 3% 5%;
}
